:root {
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #fff;
	background: #1c1c1c;
}

html,body {	
	display: flex;
	width: 100%;
	height: 100%;
	min-width: 480px;		
	overflow: hidden;

}

body {
	margin: 0;
	padding: 0;		
}

#app {
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
	align-items: center;
}

main {
	display: flex;
	width: 100%;
	height: 100%;	
}

a, a:visited, a:active {
    text-decoration: none;    
	color: rgb(158, 194, 214);
}

a:hover {
    
    color: rgb(0, 162, 255);
}
